svg {
  height: 50px;
  width: 50px;
}



h1,
h2,
h3,
p {
  font-weight: 500;
  letter-spacing: 1.5px;
  margin: 0;
}

h3, h2 {
  font-weight: 600;
}

.title-h3 {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
}
.grid-container {
  display: grid;
  /* grid-template-columns: 100%; */
  grid-template-rows: auto;
  grid-template-areas:
    "header"
    "navigation"
    "main";
  font-family: "Raleway", sans-serif;
}

/******** HEADER******* */
.header {
  grid-area: header;

  background-color: #3D7199;
  display: flex;
  padding: 5px 3%;
  justify-content: space-between;
  color: white;
  align-items: center;
}

.account {
  display: flex;
  align-items: center;
  font-weight: 500;
  letter-spacing: 1.5px;
}

.account .profile-image {
  width: 30px;
  height: 30px;
  padding: 0px;
}
.profile-image {
  border-radius: 50%;
}

.bell-image {
  transform: scale(0.5);
  border-right: 1.5px solid rgb(49, 49, 49);
  padding-right: 27px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.profile-name {
  padding-left: 10px;
  font-size: 0.8rem;
}

/* MAIN */
.main {
  grid-area: main;
  display: grid;
  
}

/* NAVIGATION */

.navigation {
  grid-area: navigation;
  background-color: #40428D;
  display: flex;
  justify-content: center;
}

.dashboard,
.settings,
.memebers,
.visits {
  width: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
}

/* MAIN HEADER */

.main-header {
    display: flex;
    justify-content: flex-start;
   
   
   
}
.headline {
    flex-grow: 1;
   
    padding-top: 15px;
    padding-bottom: 15px;
   
   
}
.main-header-search {
    display: flex;
    flex-grow: 6;
    background-color: #415EA3;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 10px;
    border-radius: 0px 0px 0px 5px;
    justify-content: flex-end;
    align-items: center;
}

/* Alert */

.alert-banner {
  display: flex;
  justify-content: space-between;
  padding: 20px 10px;
  background-color: #6C3D99;
  margin: 10px;
  color: white;
  border-radius: 5px;
}

/* Trafic header */
.traffic-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.traffic-nav {
  display: flex;
  list-style-type: none;
  font-size: 13px;
  
}

.traffic-nav li {
  padding-left: 10px;
  padding-right: 10px;
}


.widget-container-full,
.widget-container-half {
  width: 95vw;
  padding-top: 20px;
  padding-bottom: 20px;
  
}
/* Social Stats */

.social-icons {
 
  display: flex;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 15px;
  justify-content: space-evenly;
}

.google, .facebook, .twitter {
  box-shadow: 1px 1px 1px lightgray;
  border: 1px solid lightgray;
  padding: 15px 50px;
  border-radius: 5px;
  margin-right: 10px;
  margin-left: 10px;
  text-align: center;
  font-size: 13px;
  
}

.social-text p:nth-child(2){
  font-size: 25px;
}







@media (min-width: 768px) {
  .grid-container {
    grid-template-columns: 55px 1fr;
    grid-template-areas:
      "header header"
      "navigation main";
  }

  .main {
    grid-template-columns: 50%;
  }

  .traffic,
  .social {
    grid-column: 1 / span 2;
  }

  .social-icons {
    justify-content: space-evenly;
    
  }

  .google, .facebook, .twitter {
    display: flex;
    flex-direction: row;
    padding: 30px 60px;
   
  }

  .social-image {
    flex-basis: 60%;
    padding-right: 30px;
  }

  .social-image svg {
    transform: scale(1.5)
  }
  .daily,
  .members,
  .message {
    grid-column: 1 / span 1;
  }

  .widget-container-full {
    width: 90vw;
  }

  .widget-container-half {
    width: 45vw;
  }
}
