/* ============================================= */
/*             Mixins                            */
/* ============================================= */

@mixin flexy(
  $direction: row,
  $justify: center,
  $align: center,
  $start: flex-start,
  $wrap: wrap
) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  align-content: $start;
  flex-wrap: $wrap;
}
