
* {
    font-family: 'Roboto', sans-serif;
    
   
}


h2 {
    font-size: 1.8rem;
}
h3 {
    color: $side-nav-color;
    font-size: 1.4rem;
     text-transform: uppercase;
}

body {
    color: $black;
}

