/* ============================================= */
/*              Variables             */
/* ============================================= */

$primary-color: #7679c1;
$side-nav-color: #4d4d72;
$white: #fcfcfc;
$search-color: #dbdbee;
$grey-color: #b3b2b2;
$green-color: #98caa3;
$primary-font: 'Raleway', sans-serif;

$font-size-l: 1.2rem;
$font-size-m: 1rem;
$font-size-s: 0.8rem;
$font-size-xs: 0.6rem;

$padding-s: 10px;
$padding-m: 15px;
$padding-l: 30px;
