/* ============================================= */
/*             Alert            */
/* ============================================= */

.alert-banner {
    @include flexy($justify: space-between, $wrap: nowrap);
        padding: 10px 15px;
    background-color: $primary-color;
    margin: 15px;
    border-radius: 5px;
    color: $white;
    font-family: $primary-font;
    letter-spacing: 1.5px;
    font-size: $font-size-xs;
}

@media(min-width: $media-m) {
    .alert-banner {
        font-size: $font-size-s;
    }
}

