/* ============================================= */
/*             Traffic,  Daily & mobile Charts            */
/* ============================================= */

.traffic-header {
  @include flexy($justify: space-between, $wrap: nowrap);
  padding-left: $padding-m;
  padding-right: $padding-m;
  font-family: $primary-font;
}

.traffic-nav {
  padding-left: 0px;
  
  @include flexy($wrap: nowrap);
  & li {
    padding: $padding-s $padding-s;
    
    list-style: none;
    border-radius: 15px;
    margin-left: 3px;
    font-size: $font-size-xs;
    font-weight: bold;
    color: $side-nav-color;
  }

  
  & li:hover {
    background-color: $green-color;
  }
}

.daily-mobile {
     font-family: $primary-font;
 
}

.daily-header, .mobile-header {
  padding-left: $padding-m;
}

@media (min-width: 768px) {
  .daily-mobile {
    @include flexy($justify: space-between);
   
  }

  .traffic-nav li {
    padding: $padding-s $padding-m;
     font-size: $font-size-s;
  }

  .daily-header,
  .mobile-header {
    padding-top: $padding-m;
    padding-bottom: $padding-m;
     }

     #daily-chart {
       padding-left: $padding-m;
     }
}

@media (min-width: 1024px) {
  .traffic-header {
    padding-top: $padding-l;
    padding-bottom: $padding-l;
  }

  .traffic-nav li {
    padding: $padding-s $padding-l;
  }
  
  #traffic-chart {
    padding-left: $padding-m;
    padding-right: $padding-m;
  }

  
}
