/* ============================================= */
/*             Traffic,  Daily & mobile Charts            */
/* ============================================= */
canvas {
  width: 100% !important;
}

.traffic-header {
  @include flexy($justify: space-between, $wrap: nowrap);
  padding-left: $padding-m;
  padding-right: $padding-m;
 
}

.traffic-nav {
  padding-left: 0px;

  @include flexy($wrap: nowrap);
  & li {
    padding: $padding-s $padding-s;
    list-style: none;
    border-radius: 15px;
    margin-left: 3px;
    font-size: $font-size-xs;
    font-weight: bold;
    color: $side-nav-color;
  }

  & li:hover, .active {
    background-color: $green-color;
    color: $white;
  }

  
}

//  .active {
//     background-color: $primary-color;
//     color: $white;
//   }

.daily-header,
.mobile-header {
  padding-left: $padding-m;
}



@media (min-width: $media-m) {
  .traffic {
    padding-bottom: $padding-xl;
  }
  .daily-mobile {
    @include flexy($justify: space-between);
    border-top: 1px solid $search-color;
    border-bottom: 1px solid $search-color;
  }

  .mobile {
    border-left: 1px solid $search-color;
    padding-top: $padding-l;
    padding-bottom: $padding-xl;
  }

  .traffic-nav li {
    padding: $padding-s $padding-m;
    font-size: $font-size-s;
  }

  .daily-header,
  .mobile-header {
    padding-bottom: $padding-l;
  }
}

@media (min-width: $media-l) {
  .traffic-header {
    padding-top: $padding-l;
    padding-bottom: $padding-l;
  }

  .traffic-nav li {
    padding: $padding-s $padding-l;
  }
}
