/* ============================================= */
/*             Traffic,  Daily & mobile Charts            */
/* ============================================= */

.traffic-header {
  @include flexy($justify: space-between, $wrap: nowrap);
  padding-left: $padding-m;
  padding-right: $padding-m;
  font-family: $primary-font;
}

.traffic-nav {
  padding-left: 0px;

  @include flexy($wrap: nowrap);
  & li {
    padding: $padding-s $padding-s;
    list-style: none;
    border-radius: 15px;
    margin-left: 3px;
    font-size: $font-size-xs;
    font-weight: bold;
    color: $side-nav-color;
  }

  & li:hover {
    background-color: $green-color;
    color: $white;
  }
}

.daily-mobile {
  font-family: $primary-font;
}

.daily-header,
.mobile-header {
  padding-left: $padding-m;
}

.daily > .widget-container-half {
  margin: 0 auto;
}

@media (min-width: $media-m) {
  .daily-mobile {
    @include flexy($justify: space-between);
  }

  .traffic-nav li {
    padding: $padding-s $padding-m;
    font-size: $font-size-s;
  }

  .daily-header,
  .mobile-header {
    padding-top: $padding-m;
    padding-bottom: $padding-l;
  }

}

@media (min-width: $media-l) {
  .traffic-header {
    padding-top: $padding-l;
    padding-bottom: $padding-l;
  }

  .traffic-nav li {
    padding: $padding-s $padding-l;
  }

}
