/* ============================================= */
/*              Grid                             */
/* ============================================= */

.grid-container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-template-columns: 100%;
  grid-template-areas:
    "header"
    "navigation"
    "main";
}

.header {
  grid-area: header;
}

.main {
  grid-area: main;
}

.navigation {
  grid-area: navigation;
}

@media (min-width: 768px) {
  .grid-container {
    grid-template-columns: 75px 1fr;
    grid-template-areas:
      "header header"
      "navigation main";
  }

  .main {
    grid-template-columns: 50%;
  }

  .traffic,
  .social {
    grid-column: 1 / span 2;
  }

  .daily,
  .members
  
  {
    grid-column: 1 / span 1;
  }

  .widget-container-full {
    width: 90vw;
    margin: 0 auto;
       
  }

  .widget-container-half {
    width: 45vw;
    margin: 0 auto;
    
  }
}
