/* ============================================= */
/*             Header             */
/* ============================================= */

.header {
  background-color: $primary-color;
  display: flex;
  padding: 5px 3%;
  justify-content: space-between;
  color: $white;
  align-items: center;
}

.header h1 {
  font-size: 1.3rem;
  margin-top: $padding-s;
  margin-bottom: $padding-s;
}

.account {
  @include flexy($wrap: nowrap, $justify: space-between);
  font-weight: 500;
  letter-spacing: 1.5px;
}

.account > .profile-image {
  border-radius: 50%;
  width: 25px;
  height: auto;
}

.bell-image {
  transform-origin: 25% 50%;

  height: 30px;
  width: 30px;
  padding-right: $padding-s;
  margin-bottom: $padding-s;
  margin-top: $padding-s;
  transition: all 0.3s ease-in-out;
}

.bell-image:hover {
  transform: rotate(20deg);
}

.profile-name {
  padding-left: $padding-s;
  font-size: $font-size-s;
  text-align: center;
  color: $white;
}

@media (min-width: $media-m) {
  .account svg {
    transform: scale(1);
  }

  .header h1 {
    font-size: 1.7rem;
  }

  .account > .profile-image {
    width: 30px;
    padding: $padding-s;
  }
}

@media (min-width: $media-l) {
  .header {
    font-size: $font-size-l;
  }

  .header h1 {
    font-size: 2rem;
  }
}
