/* ============================================= */
/*             Header             */
/* ============================================= */

.header {
  background-color: $primary-color;
  display: flex;
  padding: 5px 3%;
  justify-content: space-between;
  color: $white;
  align-items: center;
}

.header h1 {
  font-size: 1.3rem;
  margin-top: $padding-s;
  margin-bottom: $padding-s;
}

.u-flex {
  @include flexy($wrap: nowrap, $justify: space-between);
  list-style: none;
  font-weight: 500;
  letter-spacing: 1.5px;
}

.u-flex .profile-image {
  border-radius: 50%;
  width: 25px;
  height: auto;
}

.box {
  display: none;
  position: absolute;
  background-color: #F7EBFF;
  right: -145px;
  width: 250px;
  height: 100px;
  padding: 10px;
  border: 1px solid rgba(100, 100, 100, .4);
  box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
  border-radius: 8px;
  margin: 10px;
  border-radius: 2px;
  &::before {
   visibility: hidden;
    content: "";
    position: absolute;
    top: -30px;
    right: 0px;
    width: 0;
    height: 0;
    border: solid 20px transparent;
    border-bottom-width: 10px;
    border-left-width: 20px;
    border-right-width: 10px;

    border-color: transparent transparent $grey-color transparent;
    display: block;
  }
}
.toggle-box {
  display: block;
}
.notification-list {
  list-style: none;
  padding-left: 0px;
  color: $black;
  & li {
    @include flexy($justify: space-between, $wrap: nowrap);
    height: 50px;
    color: $side-nav-color;
    font-size: $font-size-s;
    font-weight: bold;
  }

  & li:last-child {
    padding: 5px 0;
    border-top: 1px solid rgba(100, 100, 100, .4);
  }
}
.li-first {
  position: relative;
}
.notification-dot {
  position: absolute;
  right: 10px;
  width: 8px;
  height: 8px;
  border: solid 1px #d11124;
  background-color: #d11124;
  border-radius: 50%;
}

.bell-image {
  transform-origin: 25% 50%;
  height: 30px;
  width: 30px;
  padding-right: $padding-s;
  margin-bottom: $padding-s;
  margin-top: $padding-s;
  transition: all 0.3s ease-in-out;
}

.bell-image:hover {
  transform: rotate(20deg);
}

.profile-name {
  padding-left: $padding-s;
  font-size: $font-size-s;
  text-align: center;
  color: $white;
}

@media (min-width: $media-m) {
  .account svg {
    transform: scale(1);
  }

  .header h1 {
    font-size: 1.7rem;
  }

  .account > .profile-image {
    width: 30px;
    padding: $padding-s;
  }

  .box {
     right: 0px;
     &::before {
   visibility: visible;}
  }
}

@media (min-width: $media-l) {
  .header {
    font-size: $font-size-l;
  }

  .header h1 {
    font-size: 2rem;
  }
}
