/* ============================================= */
/*             Header             */
/* ============================================= */

.header {
  background-color: $primary-color;
  display: flex;
  padding: 5px 3%;
  justify-content: space-between;
  color: $white;
  align-items: center;
  
}

.account {
  @include flexy($wrap: nowrap, $justify: space-between);
  font-weight: 500;
  letter-spacing: 1.5px;
}

.account .profile-image {
  width: 30px;
  height: 30px;
  padding-left: $padding-s;
}
.profile-image {
  border-radius: 50%;
}

.bell-image {
  height: 30px;
  width: 30px;
  padding-right: $padding-s;
  margin-bottom: $padding-s;
  margin-top: $padding-s;
  border-right: 1px solid darken($grey-color, 15);
}

.account svg {
    transform: scale(0.8);
  }



.profile-name {
  padding-left: $padding-s;
  font-size: $font-size-s;
  text-align: center;
}

@media(min-width: $media-m) {
 .account svg {
    transform: scale(1);
  }
}

@media (min-width: $media-l) {
  .header {
    font-size: $font-size-l;
  }
  
 
}
