/* ============================================= */
/*              Main Header             */
/* ============================================= */

.main-header {
  @include flexy($justify: space-between);
  padding-left: $padding-m;
  
}

.headline {
  display: inline-block;
  padding-right: $padding-m;
  color: #333;
}

.main-header-search {
  padding-right: $padding-m;
  width: 100%;
}

.main-header-search input {
  padding: $padding-s;
  border: 1px solid $grey-color;
  border-radius: 5px;
  outline: 0;
  width: 100%;
}
@media (min-width: $media-m) {
  .main-header {
    justify-content: space-between;
  }
  .main-header-search {
    padding-right: $padding-m;
    margin: 0px;
    width: 50%;
  }
}
@media (min-width: $media-l) {
  .headeline {
    flex-grow: 1;
  }
  .main-header-search {
    flex-grow: 5;
    padding: 20px;
    border-bottom: 1px solid $search-color;
    border-left: 1px solid $search-color;
  }
  .main-header-search input {
    float: right;
    padding: $padding-m 200px $padding-m $padding-s;
    width: 40%;
  }
}
