/* ============================================= */
/*             Members                           */
/* ============================================= */

.members-header,
.recent-header {
  padding-left: $padding-m;
}

.members-container {
  display: flex;
  justify-content: space-between;
  padding: $padding-m;
  border-bottom: 1px solid $search-color;
  font-size: $font-size-s;
}

.members-container:last-child {
  border-bottom: 0px solid transparent;
}

.members-container > .profile-image {
  border-radius: 50%;
  width: 50px;
  padding-top: $padding-s;
  padding-bottom: $padding-s;
  // flex-basis: 1;
}

a {
  color: $primary-color;
  font-weight: bold;
  text-decoration: none;
}

.read-more {
  flex-basis: 50px;
  color: $primary-color;
  font-size: $font-size-l;
  font-weight: bold;
  text-align: right;
}

.members-text,
.recent-text {
  // flex-basis: 2;
}

.members-container > p {
  // flex-basis: 1;
}

@media (min-width: $media-m) {
  .users {
    border-bottom: 1px solid $search-color;
    border-top: 1px solid $search-color;
    padding-top: $padding-m;
    padding-bottom: $padding-m;
  }

  .members-container {
    font-size: $font-size-m;
  }
}

@media (min-width: $media-l) {
  .users {
    display: flex;
    align-items: stretch;
  }

  .members-section,
  .recent-activity {
    flex-basis: 50%;
  }
  .recent-activity {
    border-left: 1px solid $search-color;
  }
}
