/* ============================================= */
/*             Members                           */
/* ============================================= */

.members-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  font-size: 0.8rem;
  border-bottom: 1px solid $search-color;
}

.members-container:last-child {
  border-bottom: 1px solid transparent;
}

.profile-image {
  border-radius: 50%;
  width: 50px;
  padding: $padding-s $padding-m;
  flex-basis: auto;
}

.members-section,
.recent-activity {
  box-sizing: border-box;
  flex-basis: 50%;
}

.member-info {
  display: flex;
  justify-content: flex-start;
  flex-basis: 70%;
}

.members-header,
.recent-header {
  padding-left: $padding-m;
}

.date,
.read-more {
  padding-right: $padding-m;
  flex-basis: 15%;
  text-align: right;
}

.read-more {
  color: $primary-color;
  font-weight: bold;
  padding-left: $padding-s;
  font-size: 1rem;
}

@media (min-width: $media-m) {
  .users {
    display: flex;
    border-top: 1px solid $search-color;
    border-bottom: 1px solid $search-color;
  }
  .members-section {
    border-right: 1px solid $search-color;
  }

  .members-container {
    padding: 20px 0;
    margin-right: 15px;
    margin-left: 15px;
  }

  .profile-image {
    padding-right: 0px;
    padding-left: 0px;
  }

  .member-info {
    padding-left: $padding-l;
    padding-right: $padding-m;
    flex-basis: 80%;
  }

  .date,
  .read-more {
    flex-basis: 12%;
    padding-right: 0px;
  }

  .profile-image {
    flex-basis: 8%;
  }
}

@media (min-width: $media-l) {
  .members-container {
    font-size: 1rem;
  }
}
