/* ============================================= */
/*             Members                           */
/* ============================================= */

.members-header,
.recent-header {
  padding-left: $padding-m;
}

.members-container {
  @include flexy($justify: space-between, $align: flex-start);
  // padding: $padding-m;
  // border-bottom: 1px solid $search-color;
}

.recent-activity {
  // padding: $padding-m;
}

.members-container:last-child {
  border-bottom: 0px solid transparent;
}

.members-container > .profile-image {
  border-radius: 50%;
  width: 50px;
  padding-top: $padding-s;
  padding-bottom: $padding-s;
  
}

.members-text,
.recent-text {
  line-height: 0.8;
}

a {
  color: $primary-color;
  font-weight: bold;
  text-decoration: none;
}

.read-more {
  color: $primary-color;
  font-size: $font-size-l;
  font-weight: bold;
  
}


@media (min-width: $media-m) {
  .users {
    border-bottom: 1px solid $search-color;
    border-top: 1px solid $search-color;
    padding-top: $padding-m;
    padding-bottom: $padding-m;
  }

  .members-container,
  .recent-activity {
    flex-basis: 49.9%;
    justify-content: space-between;
  }

  

  
}

@media (min-width: $media-l) {
  .users {
    @include flexy($align: flex-start, $justify: flex-start);
  }

  .recent-activity {
    border-left: 1px solid  $search-color;
  }


  .members-text {
    flex-basis: 40%;
  }
}
