/* ============================================= */
/*            Message & Settings                 */
/* ============================================= */
.message,
.settings-container {
  // padding-bottom: $padding-m;
  box-sizing: border-box;
}
.message-header {
  padding-left: $padding-m;
  padding-right: $padding-m;
}

.message p {
  color: red;
  padding-left: $padding-m;
  font-weight: bold;
  height: 40px;
  margin-top: 0px;
  margin-bottom: 0px;
}

input,
textarea,
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid $grey-color;
}

textarea {
  height: 138px;
}

.settings-container {
  padding: $padding-m $padding-m;
}

.settings-button {
  @include flexy($justify: space-between);
}

.button-primary,
.button-disabled {
  background-color: $primary-color;
  border-radius: 5px;
  color: $white;
  border: 1px solid transparent;
  padding: $padding-s;
  text-transform: uppercase;
}

.widget-container > .button-primary {
  width: 100%;
}

.button-disabled {
  background-color: $grey-color;
  border-radius: 5px;
  color: $white;
  border: 1px solid transparent;
  padding: $padding-s;
  text-transform: uppercase;
  width: 50%;
}

.settings-button > .button-primary {
  width: 45%;
}

.widget-container {
  padding-left: 15px;
  padding-right: 15px;
}

.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: block;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}

@media (min-width: $media-m) {
  .message {
    border-right: 1px solid $search-color;
  }
}

@media (min-width: $media-l) {
  .message-settings {
    display: flex;
    align-items: stretch;
  }

  .message,
  .settings-container {
    flex-basis: 50%;
  }
  
}
