.navigation {
  grid-area: navigation;
  background-color: $side-nav-color;
  display: flex;
  justify-content: center;
  min-height: 60px;
}

.dashboard,
.settings,
.memebers,
.visits {
  width: 40px;
padding: 15px;
}

@media (min-width: 768px) {
    .navigation {

        flex-direction: column;
        justify-content: flex-start;
        padding: 10px;
        // min-height: 70px;
    }

    .navigation a img {
        padding: 5px ;
        margin-top: 20px;
    }
}