/* ============================================= */
/*             Navigation                        */
/* ============================================= */

.navigation {
  grid-area: navigation;
  background-color: $side-nav-color;
  @include flexy();
}

.dashboard,
.settings,
.members,
.visits {
  width: 40px;
  padding: 15px;
  transition: all .2s ease-in-out;
}

.dashboard:hover, .settings:hover, .members:hover, .visits:hover {
  transform: scale(1.2);
}

@media (min-width: $media-m) {
  .navigation {
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 30px;
  }

  .dashboard,
  .settings,
  .members,
  .visits {
    width: 40px;
  }
}
