/* ============================================= */
/*             Navigation                        */
/* ============================================= */

.navigation {
  grid-area: navigation;
  background-color: $side-nav-color;
  @include flexy();
}

.dashboard,
.settings,
.memebers,
.visits {
  width: 40px;
  padding: 15px;
}

@media (min-width: $media-m) {
  .navigation {
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 30px;
  }

  .dashboard,
  .settings,
  .memebers,
  .visits {
    width: 40px;
  }
}
